@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}
article {
  padding: 1em 1em;
  max-width: 600px;
  margin: 0 auto;
}
p {
  display: block;
  font-size: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
  color: gray;
}

.controller-fill {
  fill: gray;
}
.controller-transparent {
  opacity: 0;
}
.correct {
  fill: gray;
}
.controller-hover:hover {
  fill: red;
}
#konami-done {
  display: none;
}
