@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}
article {
  padding: 1em 1em;
  max-width: 600px;
  margin: 0 auto;
}
p {
  display: block;
  font-size: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
  color: darkslategray;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.controller-fill {
  fill: gray;
}
.controller-transparent {
  opacity: 0;
}
.controller-hover {
  cursor: pointer;
}
.correct {
  fill: gray;
}
.button {
  border: none;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin-top: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: gray;
}
.button:hover {
  cursor: pointer;
}

#konami-controller-no-border-svg {
  display: none;
}
#konami-done {
  display: none;
}

@media (max-width: 524.98px) {
  #konami-controller-svg {
    display: none;
  }
  #konami-controller-no-border-svg {
    display: inline;
  }
}
