@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
}
article {
  padding: 1em 1em;
  max-width: 600px;
  margin: 0 auto;
}
p {
  display: block;
  font-size: 1.2em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
  color: gray;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.controller-fill {
  fill: gray;
}
.controller-transparent {
  opacity: 0;
}
.correct {
  fill: gray;
}
#konami-done {
  display: none;
}
